
table.GameRow {
    width: 100%;

    & tr {
        text-align: left;
    }

    & tbody tr:hover {
        background: cornflowerblue;
    }

    & th {
        background: dimgray;
        color: goldenrod;
    }

    & tbody td {
        padding: 5px;
    }
}
